<div class="stars">
  <div class="twinkling">
  <div class="container">
      <div class="birthdayCard">
        <div class="cardFront">
          <h3 class="happy">Happy Birthday!</h3>
          <div class="balloons">
            <div class="balloonOne"></div>
            <div class="balloonTwo"></div>
            <div class="balloonThree"></div>
            <div class="balloonFour"></div>
          </div>
        </div>
        <div class="cardInside">
          <h3 class="back">Happpy Birthday!</h3>
          <p>Dear Ankie-Monkey,</p>
          <p>Happy Birthday to one of my best working buddy. May all of your birthday wishes come true and you always shine like a star. Hope to meet you someday.</p>
          <p class="name">Rahul</p>
        </div>
      </div>
    </div>
  </div>
</div>


